# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documents\#ITA\4_ano\1_semestre\CT-213\LAB_CT213\Lab10\ct213_lab10_2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
